@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: url(assets/preto2.jpg) no-repeat top center/cover;
    min-height: 100vh;
}

header {
    background: rgb(1, 8, 19);
    border-radius: 2px;
}

h1 {
    text-align: center;
    padding: 15px;
     font-family: "Courgette", cursive;
     font-weight: bolder;
     color: rgb(211, 223, 203);
}

.name-rodape {
    color: rgb(180, 13, 13);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    
    
    
    
}



img {
    width: 118px;

}

.caixa-imagem {
    text-align: center;
    margin-top: 4rem;
    

}

 a {
    text-decoration: none;

}

.name-img {
    padding-left: 10px;
    font-weight: bolder;
    transition: 0.8s;
    
}

.name-img:hover {
    color: rgb(5, 78, 41);
}

.frase-impactante {
    text-align: center;
    margin-top: 18px;
    font-family: "Schoolbell", cursive;
    font-weight: bold;
    font-size: 18px;
}


ul {
    margin-top: 35px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 588px;
    
    
}

ul li a {
    border: 1px solid rgb(6, 6, 71);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    transition: 1.0s;
    font-weight: bolder;
    margin: 12px;
    width: 90%;
    
    
    
}


 /* ul li  {
    border: 1px solid rgb(6, 6, 71);
    border-radius: 4px;
    text-align: center;
    padding: 12px;
    transition: 0.9s;
    font-weight: bolder;
    margin: 8px;
    

}  */


ul li a:hover {
    background-color: rgb(1, 31, 31);
}

.download {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

h3 {
font-weight: bolder;
color: chartreuse;
font-family: "Schoolbell", cursive;
}

.apk {
font-weight: 600;
}

.apk:hover {
    color: blueviolet;
}

footer {
    text-align: center;
    margin-top: 1.5rem;
    font-weight: bolder;
}

.desenvolvedor {
    transition: 0.9s;
   
}

.desenvolvedor:hover {
    color: #0d4863;
    

}


